   <nav>
      <ul>
         <li><a href="../"><img src="/images/home.svg" alt="Ontdekken"></a></li>
         <li><a href="../likes"><img src="/images/home.svg" alt="Likes"></a></li>
         <li><a href="../profile"><img src="/images/profile.svg" alt="Profile"></a></li>
      </ul>
   </nav>
