  
  
  
  
  <nav>
      <ul>
         <li><a href="../discover" <% if (title === 'discover') { %>class="active" <% } %> ><img src="/images/nav_beer.svg" alt="Ontdekken">Kroegen</a></li>
         <li><a href="../likes" <% if (title === 'likes') { %>class="active" <% } %> ><img src="/images/nav_favorites.svg" alt="Likes">Geliked</a></li>
         <li><a href="../cocktails" <% if (title === 'cocktails') { %>class="active" <% } %> ><img src="/images/nav_cocktail.svg" alt="Likes">Generator</a></li>
         <li><a href="../profile" <% if (title === 'profile') { %>class="active" <% } %> ><img src="/images/nav_profile.svg" alt="Profile">Profiel</a></li>
      </ul>
   </nav>


