




   <nav>
      <ul>
         <li><a href="../"><img src="/images/home.svg" alt="Voor jou"></a></li>
         <li><a href="../"><img src="/images/cards.svg" alt="Kaarten"></a></li>
         <li><a href="../profile"><img src="/images/profile.svg" alt="Profile"></a></li>
      </ul>
   </nav>
