



 <%- include('partials/header.ejs') %>


<main>

   <section>

      <h2>Cocktail Generator</h2>

      <p>
         Zin in een lekkere cocktail, maar geen idee
         wat je moet kiezen? Probeer onze cocktail 
         generator!
      </p>
   
   </section>


   <section>

      <article>

         <figure> 
            <img src="https:\/\/www.thecocktaildb.com\/images\/media\/drink\/2ahv791504352433.jpg" alt="">
         </figure>


         <label><b>Favoriete drankje</b></label>
      
   


         <article>
            <h3 class="randomCocktail">Dark 'N Stormy</h3>
            <h4>Donkere rum - ginger beer - limoen</h4>
         </article>

      </article>
      
      <button class="generateCocktail" type="button" onclick="getRandomCocktail()">Random</button>

   </section>

</main>

<script src="js/cocktails.js"></script>

<%- include('partials/navigation.ejs') %> 


