



<header>
   <article>
      <a href="/"><img src="/images/arrow_left.svg" alt="Terug"></a><h2>Sneakers</h2>
   </article>
</header>


<main>

   <section>

      <h3>Recent toegevoegd</h3>

      <ul id="carousel" class="cards">
         <li class="card"><img src="/images/sneaker_1.png"></li>
         <li class="card"><img src="/images/sneaker_2.png"></li>
         <li class="card"><img src="/images/sneaker_3.png"></li>
         <li class="card"><img src="/images/sneaker_4.png"></li>
         <li class="card"><img src="/images/sneaker_5.png"></li>
         <li class="card"><img src="/images/sneaker_6.png"></li>
         <li class="card"><img src="/images/sneaker_7.png"></li>
       </ul>

       <button><img src="../images/arrow_left.svg" alt="Naar links"></button>
       <button><img src="../images/arrow_right.svg" alt="Naar rechts"></button>
       
       <div id="tray" class="scroll-tray">
         <div id="indicator" class="scroll-indicator"></div>
       </div>

   </section>

   <h3>Alle sneakers</h3>

   <section>

      <article>
         <figure>
            <img src="/images/sneaker_1.png" alt="Airforce">
         </figure>

         <figcaption>
            <h4>Nike</h4>
            <p>Air Force 1</p>
         </figcaption>
      </article>

      <a href="/collection">
         <article>
            <figure>
               <img src="/images/sneaker_2.png" alt="Airforce">
            </figure>

            <figcaption>
               <h4>Nike</h4>
               <p>Air Calispo V2</p>
            </figcaption>
         </article>
      </a>

      <article>
         <figure>
            <img src="/images/sneaker_3.png" alt="Airforce">
         </figure>

         <figcaption>
            <h4>Adidas</h4>
            <p>Yeezy Boost V2</p>
         </figcaption>
      </article>

      <article>
         <figure>
            <img src="/images/sneaker_4.png" alt="Airforce">
         </figure>

         <figcaption>
            <h4>Adidas</h4>
            <p>Yeezy Boost V2</p>
         </figcaption>

      </article>

   </section>

</main>

<%- include('partials/navigation.ejs') %>