



<header>

   <article>
      <h2> Hey, <br> <%= name %> </h2>
   </article>

   <figure>
      <img src="" alt="">
   </figure>

</header>



<!-- Ontdekken -->

<h3>Ontdekken</h3>

<section>

   <article>

      <figure>
         <h2>Vind jouw perfecte paar schoenen</h2>

         <a href="/explore"><img src="/images/arrow_right.svg" alt="Home"></a>
      </figure>

   </article>

</section>






   <!-- Mijn collectie -->

   <h3>Mijn collectie</h3>

   <section>

      <!-- Rij 1 -->
      <article>
         <figure>
            <img src="/images/hak.svg" alt="Hak">
         </figure>

         <h4>Hakken</h4>

         <p>5 schoenen</p>
      </article>

      <a href="/collection">
         <article>
            <figure>
               <img src="/images/sneaker.svg" alt="Sneaker">
            </figure>

            <h4>Sneakers</h4>

            <p>11 schoenen</p>
         </article>
      </a>

      <!-- Rij 2 -->
      <article>
         <figure>
            <img src="/images/laars.svg" alt="Laars">
         </figure>

         <h4>Laarzen</h4>

         <p>24 schoenen</p>
      </article>

      <article>
         <figure>
            <img src="/images/instapper.svg" alt="Instapper">
         </figure>

         <h4>Instappers</h4>

         <p>10 schoenen</p>
      </article>

   </section>

   
<%- include('partials/navigation.ejs') %>