



<div class="centered_aligned_content zeroStateWrapper">

   <header class="zeroStateHeader"> 

      <p> Opzoek naar drank? voor de </p>
      <h1>Kroeg!</h1>
   
   </header>
   
   
   <section>
      <img src="/images/glasses_beer.svg" alt="">
   </section>
   
   
   <section>
      <a href="/log_in">Start</a>
   </section>

</div>


