




<div class="content_center_aligned">

   <section>

         <!-- Introductie -->
         <h1>Hey daar!</h1>

         <p> 
            Welkom terug we hebben <br> je enorm gemist!
         </p>

   </section>


   <!-- Formulier -->
   <form action="" method="POST">

        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Gebruikersnaam" />

        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Email" required />
        <label for="password"></label>
        <input type="password" name="password" id="password" placeholder="Wachtwoord" required />

      <span><a href="#"></a>Wachtwoord vergeten</span>

         <!-- Inloggen -->
      <input type="submit" value="Log in">

         <!-- Registreren -->
      <span>Nog geen account? <a href="/sign_up">Registreren</a></span>

   </form>

</div>



