



<header>

   <article>
      <h2>Instellingen</h2>       
      <figure><img src="/images/placeholder_profile.jpg" alt=""></figure>
   </article>

</header>


<main>

   <section>

      <h4>Persoonlijke informatie</h4>

      <article>
         <a href="profile_overview">
            <h3>Profiel bewerken</h3>
         </a>
      </article>

      <article>
         <a href="">
            <h3>Privacy en data</h3>
         </a>
      </article>

      <article>
         <a href="/log_in">
            <h3>Log uit</h3>
         </a>
      </article>
      
   </section>

</main>

<%- include('partials/navigation.ejs') %>