



<header>
   <article>
      <a href="profile"><img src="/images/arrow_left.svg" alt="Terug"></a><h2>Profiel bewerken</h2>
   </article>
</header>


<main>

   <section>

      <figure>
         <img src="" alt="">
      </figure>

      <article>
         <a href="">
            <span>
               <h3>Email adres</h3>
               <p><%= email %></p>
            </span>

            <img src="/images/arrow_right_grey.svg" alt="Pijl naar rechts">
         </a>
      </article>

      <article>
         <a href="">
            <span>
               <h3>Telefoonnummer</h3>
               <p>+31 6 00 00 00 00</p>
            </span>

            <img src="/images/arrow_right_grey.svg" alt="Pijl naar rechts">
         </a>
      </article>

      <article>
         <a href="profile_password">
            <span>
               <h3>Wachtwoord</h3>
               <p>Wachtwoord veranderen</p>
            </span>

            <img src="/images/arrow_right_grey.svg" alt="Pijl naar rechts">
         </a>
      </article>

      <article>
         <a href="profile_country">
            <span>
               <h3>Land</h3>
               <p>Nederland</p>
            </span>

            <img src="/images/arrow_right_grey.svg" alt="Pijl naar rechts">
         </a>
      </article>
      
   </section>

</main>