


<header>
   <article>
      <a href="profile_overview"><img src="/images/arrow_left.svg" alt="Terug"></a> <h2>Wachtwoord</h2>
   </article>
</header>


<main>
   
   <form>
      
      <label for="huidige_wachtwoord">Huidige wachtwoord</label>
      <input type="text" value="" placeholder="" name="huidige_wachtwoord" id="huidige_wachtwoord" >

      <label for="nieuwe_wachtwoord">Nieuwe wachtwoord</label>
      <input type="text" value="" placeholder="" name="nieuwe_wachtwoord" id="nieuwe_wachtwoord" >

      <label for="nieuwe_wachtwoord">Herhaal wachtwoord</label>
      <input type="text" value="" placeholder="" name="nieuwe_wachtwoord" id="nieuwe_wachtwoord" >


      <input type="submit" value="Wijzigingen opslaan">
      
   </form>

</main>