



<%- include('partials/header.ejs') %>


<div class="content_center_aligned">

   <section>
     
      <!-- Introductie -->
      <h2>Registreren</h2>

      <!-- Formulier -->
      <form action="" method="POST">

         <label for="username">Gebruikersnaam</label>
         <input type="text" name="username" id="username" placeholder="" required />

         <label for="email">Email</label>
         <input type="email" name="email" id="email" placeholder="" required />

         <label for="password">Wachtwoord</label>
         <input type="password" name="password" id="password" placeholder="" required />

         <label for="repeat_password">Herhaal wachtwoord</label>
         <input type="password" name="repeat_password" id="repeat_password" placeholder="" required />

         <label for="residence">Woonplaats</label>
         <select name="residence" id="countries">

            </select>

         <input type="submit" value="Registreren"/>

         <span>Heb je al een account? <a href="log_in">Log in</a></span>

      </form>

   </section>

</div>

<script src="js/residence.js"></script>
