



/* Algemeen */

html {
   height: 100%;
}

body {
   background-color: var(--beer-light);
}



.secondary_header {
   position: fixed;
}

/* Header */

header {
   padding: 8rem 2rem;
   padding-bottom: 0;

   display: flex;

   justify-content: space-between;

}

header article h2 {
   padding: 0;
   margin: 0 0 0.5rem 0;

   color: var(--body-text-color);
}

header article p {
   padding: 0;
   margin: 0;

   color: var(--body-text-color);
}

header figure {
   overflow: hidden;

   width: 4rem;
   height: 4rem;

   border-radius: 1em;
}

header figure img {
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: 50% 50%;
}





main {
   padding: 2rem;
}





main section {
   display: flex;
   flex-direction: column;

   gap: 1rem;
}

main section h2 {
   padding: 0;
   margin: 0;

   font-size: 1.9rem;

   text-align: center;

   color: var(--body-text-color);
}

main section form > article {
   position: relative;

   overflow: hidden;

   width: 100%;
   height: 27rem;

   border: 0.1rem solid var(--border-color);
   border-radius: 0.75rem;

   background-color: var(--beer);
}

main section article button {
   position: absolute;

   top: 0.5rem;
   right: 0.5rem;

   outline: none;
   border: none;
   background: none;
}

/* Thumbnail kroeg */
main section article figure {
   overflow: hidden;

   width: 100%;
   height: 15rem;

   border-bottom: 0.1rem solid var(--border-color);
   border-radius: 0 0 0.75rem 0.75rem;
}

main section article figure img {
   width: 100%;
   height: 100%;

   object-fit: cover;
   object-position: 50% 50%;
}

/* Informatie kroeg */
main section article > article {
   padding: 1rem;
   height: 100%;

   position: relative;

   display: flex;
   flex-direction: column;
}

main section article > article .rating {
   position: absolute;

   top: 1.2rem;
   right: 1rem;

   display: flex;

   justify-content: baseline;
   align-items: center;

   gap: 0.5rem;
}

main section article > article .rating p {
   font-weight: 600;
}

main section article > article h3 {
   padding: 0;
   margin: 0 0 0.5rem 0;

   font-size: 1.5rem;
   font-weight: 400;

   color: var(--white);
}

main section article > article h4 {
   padding: 0;
   margin: 1rem 0 0.5rem 0;

   font-weight: 300;

   color: var(--white);
}

main section article > article p {
   padding: 0;
   margin: 0;

   font-weight: 400;

   color: var(--body-text-color);
}

main section article > article > p {
   font-size: 0.85rem;
}

main section article > article > p:last-of-type {
   color: var(--white);
}



