
*, *::after, *::before {
    box-sizing:border-box;
  }


body {
    padding: 0;
    margin: 0;
}





:root {

    --black: #000000;
    --white: #ffffff;

    --grey: #f1f0f5;
    --dark-grey: #b4b4b4;

    --green: #C5FC31;


    --font: Poppins;

    --h1-font-size: 36px;
    --h2-font-size: 24px;

    --primary-text-color: #262626;

    --body-font-size: 16px;

    --body-line-height: 1.6;

    --primary-button-font-size: 16px;

    --input-border-color: grey;

    --border-color: #DBDBDB;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



h1 {
    padding: 0;
    margin: 0;

    margin-bottom: 0.6em;

    font-family: var(--font);
    font-size: var(--h1-font-size);
}

h2 {
    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: var(--h2-font-size);
    font-weight: 500;
}

h3 {
    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: 16px;

    font-weight: 400;

    color: var(--dark-grey);
}

h4 {
    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;

    color: #B4B4B4;
}

p {
    padding: 0;
    margin: 0;


    font-family: var(--font);
    font-size: var(--body-font-size);

    line-height: var(--body-line-height);
}

a {
    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: var(--primary-button-font-size-font-size);

    text-decoration: none;
}


header {
    padding: 2rem;
}

header article {

    position: relative;
    
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

header article figure {
    width: 4rem;
    height: 4rem;

    border-radius: 1em;

    background-color: var(--green);
}



main section {
    margin: 0;
    padding: 0 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

main section h3 {
    color: var(--primary-text-color);
}

main section h4 {
    margin-bottom: 2rem;

    align-self: flex-start;
}




main section figure {
    margin: 2rem 0 2rem 0;
    padding: 0;

    width: 10rem;
    height: 10rem;


    border-radius: 1rem;
}

main section figure img {
    margin: 0;
    padding: 0;
}

main section article {
    margin-bottom: 1.5rem;
    
    width: 100%;

    border-bottom: 0.1rem solid var(--border-color);
}

main section article a {
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;

    align-items: center;

}

main section article img {
    width: 1rem;
    height: 15px;
}


main section article h3 {
    font-size: 18px;
}






main section select {
    width: 100%;
}


main {
}


form {
    margin: 0;
    padding: 2rem;

    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;

    font-family: var(--font);
}

form input {
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;

    font-family: var(--font);

    border: none;
    border-bottom: 1px solid red;
}

form input[type=submit] {
    margin-top: 20rem;
    padding: 1.5rem;

    border: none;
    border-radius: 0.75rem;

    color: var(--white);
    background-color: var(--black);
}