





h1 {
    margin-bottom: 0.6em;

    font-family: var(--font);
    font-size: var(--h1-font-size);
}

h2 {
    font-family: var(--font);
    font-size: var(--h2-font-size);
    font-weight: 500;
}

h3 {
    font-family: var(--font);
    font-size: 16px;

    font-weight: 400;
}

h4 {
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;

    color: #B4B4B4;
}

p {
    font-family: var(--font);
    font-size: var(--body-font-size);

    line-height: var(--body-line-height);
}

a {
    padding: 0;
    margin: 0;

    font-family: var(--font);
    font-size: var(--primary-button-font-size-font-size);

    text-decoration: none;
}


header {
    padding: 2rem;
}

header article {
    position: relative;
    
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: flex-end;
}

header article h2 {
    font-size: 20px;
    font-weight: 400;
}

header article a {
    position: absolute;

    left: 0;
}

header article a img {
    width: 20px;
    height: 20px;
}





main section {
    margin: 0;
    padding: 0 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}

main section figure {
    margin: 2rem 0 2rem 0;
    padding: 0;

    width: 10rem;
    height: 10rem;


    border-radius: 1rem;
    background-color: var(--green);
}

main section figure img {
    margin: 0;
    padding: 0;
}

main section article {
    margin-bottom: 1rem;
    
    width: 100%;

    border-bottom: 0.1rem solid var(--border-color);
}

main section article a {
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;

    align-items: flex-start;

}

main section article img {
    margin-top: 0.2rem;

    width: 1rem;
    height: 15px;
}

main section article h3 {
    margin-bottom: 10px;

    font-size: 18px;

    color: var(--primary-text-color);
}


main section article p {
    font-size: 14px;

    color: #6F6F6F;
    margin-bottom: 0.5rem;
}







select {
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}



main section select {
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    width: 100%;

    width: 100%;

    outline: none;
    border: #DBDBDB 1px solid;
    border-radius: 15px;

    font-size: 16px;
    font-family: poppins;

    color: var(--primary-text-color);
    background-color: transparent; 
}


main section select {
    background-image: url('../images/arrow_down.svg');
  background-position:
    calc(100% - 20px) calc(1em + 2px);
  background-size: 12.5px;
  background-repeat: no-repeat;
}





























main form {
    margin: 0;
    padding: 2rem;

    padding-top: 0;

    display: flex;
    flex-direction: column;
}

main form label {
    margin: 1rem 0 1rem 0;

    font-family: var(--font);
}

main form input {
    margin: 0;
    padding: 0;

    padding-bottom: 1rem;

    height: auto;

    font-family: var(--font);

    border: none;
    border-bottom: 0.1rem solid var(--border-color);
}

main form input[type=submit] {
    margin-top: 45vh;
    padding: 1.5rem;

    border: none;
    border-radius: 0.75rem;

    color: var(--white);
    background-color: var(--black);
}










